/* Color Theme Swatches in Hex */
$Color-obscuro: #222226;
$Color-azulClaro: #363973;
$Color-azulFuerte: #222A59;
$Color-Gris: #3A3B40;
$Color-Blanco: #F2F2F2;

/* Color Theme Swatches in RGBA */
$Color-obscuro-rgba: rgba(34,34,38, 1);
$Color-azulClaro-rgba: rgba(54,57,115, 1);
$Color-azulFuerte-rgba: rgba(34,42,89, 1);
$Color-Gris-rgba: rgba(58,59,64, 1);
$Color-Blanco-rgba: rgba(242,242,242, 1);

/* Color Theme Swatches in HSLA */
$Color-obscuro-hsla: hsla(240, 5, 14, 1);
$Color-azulClaro-hsla: hsla(237, 36, 33, 1);
$Color-azulFuerte-hsla: hsla(231, 44, 24, 1);
$Color-Gris-hsla: hsla(229, 4, 23, 1);
$Color-Blanco-hsla: hsla(0, 0, 94, 1);
