.txt-section{
    width: 100%;
    display: flex;
    justify-content: center;
}
.txt-climas{
    width: 80%;
}
.structure-cards-climas{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    @include size(100%, auto, 5rem 0, 0)
}